body, li, h1, h2, a, footer, .banner {
    margin: 0 0;
    padding: 0 0;
    font-family: Segoe UI Symbol;
}

.banner {
    position: relative;
    text-align: center;
    margin-bottom: -4px;
}

.banner-img {
    width: 100%;
}

.banner-text {
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    margin: 0 25%;
    display: inline;
    text-align:center;
    padding: 6px 12px;
}

.banner-text h1 {
    font-size: 5vw;
}

.banner-text h2 {
    font-size: 3vw;
}

.nav-img {
    max-height: 100px;
    white-space: nowrap;
}

nav {
    background-color: #e0e0e0;
    position: sticky;
    top: 0px;

    padding: 10px;
    z-index: 5;
}

nav ul {
    white-space: nowrap;
    margin: 0 0;
    position: absolute;
    top: 50px;
    right: 0;
    display: inline-block;
    text-align: left;
}

nav li {
    display: inline-block;
    margin: 0 50px;
}

nav a {
    text-decoration: none;
    color:slategray;
}

nav a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
    line-height: 2;
}

main h1 {
    text-align:center;
    margin: 10px 0;
}

.post {
    padding: 20px;
    border: 2px dashed lightblue;
    border-radius: 10px;
    margin: 20px 20px;
}

.problem-list {
    list-style: none;
    margin-left: 0px;
    padding: 0;
}

.problem-list li {
    background-color: lightblue;
    padding: 5px;
    border-radius: 5px;
    margin: 5px 0;
}

.problem-list a {
    text-decoration: none;
    color: #2595db;
}

.problem-list a:hover {
    text-decoration: underline;
}

footer {
    background-color: #e0e0e0;
    text-align: center;
    padding: 20px;
    color: slategray;
}

@media screen and (max-width: 800px){
    nav ul{
        white-space: normal;
        left: 50%;
        top: 0px;
        padding: 10px;
    }
    nav li {
        margin-right: 1000px;
        margin-left: 0px;
        margin-top: 5px;
    }
}

details {
    background-color: #647fd6;
    border: 2px solid #33406d;
    padding: 10px;
    border-radius: 10px;
}

.highlight {
    background-color: #ee9c9c;
    border: 2px solid #dc2424;
    border-radius: 10px;
    padding: 10px;
}

.checked {
    color: orange;
}

ul {
    margin-left: 20px;
}

.date {
    font-size: 14px;
}